doctype html
html
  head
    title trelloWebComponent Demo
    meta(name='description', content='Test Site for TRELLO WebComponent')

    meta(charset='utf-8')

  body
    section
      div#component
    script(src='build/build.js')
